<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name ="listeners.OmecenListener" />
</listeners>
  <test  name="Test">
        <groups>
	<run>
		<include name="smoke" />
	</run>
</groups>
    <classes>
    <class name="loginTest.LoginPositiveTest"/> 
     <class name="loginTest.LoginNegativeTest"/>  
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
